<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://www.phonegap.com/ns/plugins/1.0" id="phonegap-plugin-asr" version="0.0.1">
    <name>SpeechRecognition</name>
    <description>Cordova Speech Recognition Plugin</description>
    <license>MIT</license>
    <keywords>cordova,speech,recognition</keywords>
    <dependency id="cordova-plugin-compat" version="^1.0.0" />
    <!-- ios -->
    <platform name="ios">
        <js-module src="www/SpeechRecognition.js" name="SpeechRecognition">
            <clobbers target="SpeechRecognition" />
        </js-module>
        <js-module src="www/SpeechRecognitionError.js" name="SpeechRecognitionError">
            <clobbers target="SpeechRecognitionError" />
        </js-module>
        <js-module src="www/SpeechRecognitionAlternative.js" name="SpeechRecognitionAlternative">
            <clobbers target="SpeechRecognitionAlternative" />
        </js-module>
        <js-module src="www/SpeechRecognitionResult.js" name="SpeechRecognitionResult">
            <clobbers target="SpeechRecognitionResult" />
        </js-module>
        <js-module src="www/SpeechRecognitionResultList.js" name="SpeechRecognitionResultList">
            <clobbers target="SpeechRecognitionResultList" />
        </js-module>
        <js-module src="www/SpeechRecognitionEvent.js" name="SpeechRecognitionEvent">
            <clobbers target="SpeechRecognitionEvent" />
        </js-module>
        <js-module src="www/SpeechGrammar.js" name="SpeechGrammar">
            <clobbers target="SpeechGrammar" />
        </js-module>
        <js-module src="www/SpeechGrammarList.js" name="SpeechGrammarList">
            <clobbers target="SpeechGrammarList" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="SpeechRecognition">
                <param name="ios-package" value="SpeechRecognition"/>
            </feature>
        </config-file>
        <source-file src="src/ios/SpeechRecognition.m" />
        <header-file src="src/ios/SpeechRecognition.h" />
        <header-file src="src/ios/ISRDataHelper.h" />
        <source-file src="src/ios/ISRDataHelper.m" />
  
        <framework src="AudioToolbox.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="Security.framework" />
        <framework src="CFNetwork.framework" />
        <framework src="Speech.framework" weak="true" />

        <framework src="AVFoundation.framework" />
        <framework src="CoreTelephony.framework"/>
        <framework src="AddressBook.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="Contacts.framework" />
        <framework src="libz.tbd" />

        <framework src="src/ios/iflyMSC.framework" custom="true" />
     
        <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
            <string>Request to use Microphone</string>
        </config-file>
    
        <config-file target="*-Info.plist" parent="NSSpeechRecognitionUsageDescription">
            <string>Request to use Speech Recognition</string>
        </config-file>

        <config-file target="*-Info.plist" parent="NSContactsUsageDescription">
            <string>Not used</string>
        </config-file>
    </platform>
</plugin>
